In [1]:
import numpy as np 
import pandas as pd

<div style="font-size: 18px; font-weight: bold;">a. Example of poor quality structured data</div>

In [8]:
#Source:  https://www.kaggle.com/datasets/suriyaganesh/resume-dataset-structured?select=01_people.csv

# Description: This dataset contains structured information extracted from professional resumes, normalized into multiple related tables

# Load dataset  
file_path = r"C:\Users\kaleu\Desktop\WQU\GWP_Q1\01_people.csv"
people = pd.read_csv(file_path)  

# Display dataset preview  
people.head()

,person_id,name,email,phone,linkedin
0,1,Database Administrator,NaN,NaN,NaN
1,2,Database Administrator,NaN,NaN,NaN
2,3,Oracle Database Administrator,NaN,NaN,NaN
3,4,Amazon Redshift Administrator and ETL Develope...,NaN,NaN,NaN
4,5,Scrum Master Scrum Master Scrum Master,NaN,NaN,NaN

In [3]:
missing = people.isnull().sum()
missing_percent = (missing / len(people) * 100).round(2)
missing_percent

person_id     0.00
name          0.21
email        97.10
phone        96.66
linkedin     84.46
dtype: float64

In [4]:
print(people.info())
print(people.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54933 entries, 0 to 54932
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   person_id  54933 non-null  int64
 1   name       54819 non-null  object
 2   email      1593 non-null   object
 3   phone      1833 non-null   object
 4   linkedin   8538 non-null   object
dtypes: int64(1), object(4)
memory usage: 2.1+ MB
None
(54933, 5)

<div style="font-size: 18px; font-weight: bold;">Table Schemas</div>

| Column Name | Data Type     | Description                        | Constraints             | Example                     |
|-------------|--------------|------------------------------------|-------------------------|-----------------------------|
| person_id   | INTEGER      | Unique identifier for each person  | Primary Key, Not Null   | 1                           |
| name        | VARCHAR(255) | Full name of the person            | May be Null             | "Database Administrator"    |
| email       | VARCHAR(255) | Email address                      | May be Null             | "john.doe@email.com"        |
| phone       | VARCHAR(50)  | Contact number                     | May be Null             | "+1-555-0123"               |
| linkedin    | VARCHAR(255) | LinkedIn profile URL               | May be Null             | "linkedin.com/in/johndoe"   |

<div style="font-size: 18px; font-weight: bold;"> c. Provide an example of poor quality unstructured data </div>

In [34]:
# source: https://www.kaggle.com/datasets/uciml/sms-spam-collection-dataset

# Description: The files contain one SMS message per line. V1 and V2 are the main column, 
# v1 contains the class (ham or spam) and v2 contains the raw text.

# Load dataset  
file_path_ = r"C:\Users\kaleu\Desktop\WQU\GWP_Q1\spam.csv"
spam = pd.read_csv(file_path_, encoding="latin1") 

# Display dataset preview  
spam.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [32]:
missing = spam.isnull().sum()
missing_percent = (missing / len(spam) * 100).round(2)
missing_percent

v1             0.00
v2             0.00
Unnamed: 2    99.10
Unnamed: 3    99.78
Unnamed: 4    99.89
dtype: float64

In [33]:
print(spam.info())
print(spam.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB
None
(5572, 5)

<div style="font-size: 18px; font-weight: bold;">Table Schemas</div>

| Column Name | Data Type     | Description                        | Description2             | Example                     |
|-------------|--------------|------------------------------------|-------------------------|-----------------------------|
| v1   | VARCHAR(255)      | SMS Class  | 2 Unique values, ham (87%), spam (13%)   | "ham"                           |
| v2        | VARCHAR(255) | SMS             | Long text that contain the message             | "Your free ringtone is waiting to be collected....	"    |
| Unnamed: 2       | VARCHAR(255) | unknown                      | No standard format             | "PO Box 5249"        |
| Unnamed: 3       | VARCHAR(255)  | unknown                     | No standard format              | "IåÕL CALL U\"               |
| Unnamed: 4    | VARCHAR(255) | unknown               | No standard format              | "GNT:-)"   |